@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <input asp-for="Changes_Urls!.OriginUrl" name="Changes_Urls.OriginUrl" placeholder="Введите URL" required />
    <input type="hidden" name="Changes_Urls.CreateUrlTime" value="@DateTime.Now" />
    <input type="hidden" name="Changes_Urls.ClickUrl" value="0" />
    <input type="submit" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Оригинальный URL</th>
            <th>Короткий URL</th>
            <th>Дата создания</th>
            <th>Количество переходов</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ChangesUrls) // Используем ChangesUrls
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.OriginUrl</td>
                <td>
                @* <form method="post" asp-page-handler="Delete" id="deleteForm-@item.Id">
                    <input type="hidden" name="id" value="@item.Id" />
                    <a href="javascript:void(0);" onclick="document.getElementById('deleteForm-@item.Id').submit();">
                        https://clonegoogle/@item.ShortUrl
                    </a>
                </form> *@
                <a href="/Index?handler=Redirect&id=@item.Id">https://clonegoogle/@item.ShortUrl</a>
                </td>
                <td>@item.CreateUrlTime.ToString("g")</td>
                <td>@item.ClickUrl</td>
            </tr>
        }
    </tbody>
</table>
